.spritedeouf, .test2, .test3, .test4, .test5, .test6, .testa
{
display: inline-block;
background: url('png.png') no-repeat;
overflow: hidden;
text-indent: -9999px;
text-align: center;
}

.spritedeouf
{
background-position: 0px -0px; width: 1989px; height: 225px;
}

.test2
{
background-position: 1989px -0px; width: 259px; height: 195px;
}

.test3
{
background-position: 2248px -0px; width: 276px; height: 183px;
}

.test4
{
background-position: 2524px -0px; width: 275px; height: 183px;
}

.test5
{
background-position: 2799px -0px; width: 259px; height: 194px;
}

.test6
{
background-position: 3058px -0px; width: 310px; height: 162px;
}

.testa
{
background-position: 3368px -0px; width: 385px; height: 131px;
}

